body {
    margin: 0;
    background-color: orange !important;
}

/* Card Section */


main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-card {
    width: 30rem;
}

.quiz-card-answer:hover {
    background-color: rgba(219, 219, 219, 0.26);
    cursor: pointer;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    border-top: 3px solid orange;
    padding-top: 12px;
}

.bg-success, .bg-danger {
    color: white !important;
}

.end-screen {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 48px;
}

.end-screen img {
    height: 90px;
}

h1 {
    font-size: 26px !important;
    text-align: center;
}

.progress {
    border-radius: 0 !important;
}